body{
    background-color: black
}
.container{
height: 500px;
width: 800px;
font-family: "Sofia", sans-serif;
}
.image{
height: 80%;
}
p{
font-size: 20px;
}
h1{
text-align: center
}
#display{
width: 380px;
height: 300px;
color: burlywood;
background-color: black;
font-size: 20px;
padding: 10px;
}
@media screen and (max-width: 600px){
[class*="col-"] {
width: 100%;
}
.container{
    width: 100%;
    height: 600px;
}
.image{
    width: 100px;
    height: 100px;
    margin-top: -120px;

}
h1{
    font-size: 150%
}
.col{
    margin-top: 100px;
}
#display{
    width: 100%;
}
}